---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import Badge from '@/components/Badge.astro'
import LinkedInIcon from '@/components/icons/LinkedIn.astro'
import CurriculumIcon from '@/components/icons/Curriculum.astro'
import MailIcon from '@/components/icons/Mail.astro'
import SocialPill from '@/components/SocialPill.astro'
import ExperienceItem from '@/components/ExperienceItem.astro'
import NextJS from '@/components/icons/NextJS.astro'
import VueJS from '@/components/icons/VueJS.astro'
import Tailwind from '@/components/icons/Tailwind.astro'
import HTML from '@/components/icons/Html.astro'
import CSS from '@/components/icons/Css.astro'
import JAVASCRIPT from '@/components/icons/Javascript.astro'
import SUPABASE from '@/components/icons/Supabase.astro'
import Link from '@/components/icons/Link.astro'
import LinkButton from '@/components/LinkButton.astro'
import TecnologyStack from '@/components/TecnologyStack.astro'
import AboutMe from '@/components/AboutMe.astro'

import { Image } from 'astro:assets'
import perfil from '../assets/toto.webp'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const EXPERIENCIE = [
	{
		date: 'Marzo 2022 hasta la actualidad',
		title: 'Frontend Developer',
		company: 'WaveIt',
		description:
			'Actualmente, soy Desarrollador Front End en WAVE IT, donde superviso el diseño e implementación de sitios web, creo documentación técnica, mantengo y actualizo proyectos. También optimizo diseños para mejorar la experiencia del usuario, mejoro continuamente los procesos y el rendimiento del código. Además, proporciono apoyo y mentoría a desarrolladores junior.'
	},
	{
		date: 'Marzo 2019',
		title: 'Web Developer',
		company: 'Freelance',
		description:
			'En esta etapa estuve trabajando de manera freelance, creando e implementando paginas web completas para clientes locales. La variedad de paginas iban desde landing pages hasta sistemas de gestion pequeña. Mejorando en algunos casos hasta 30% de gestion comercial, y hasta un 80% de alcanze.'
	}
]

const TAGS = {
	VUE: {
		name: 'Vue JS',
		class: 'bg-black text-white',
		icon: VueJS
	},
	HTML: {
		name: 'HTML',
		class: 'bg-black text-white',
		icon: HTML
	},
	JAVASCRIPT: {
		name: 'Javascript',
		class: 'bg-black text-white',
		icon: JAVASCRIPT
	},
	CSS: {
		name: 'Css',
		class: 'bg-black text-white',
		icon: CSS
	},
	SUPABASE: {
		name: 'Supabase',
		class: 'bg-black text-white',
		icon: SUPABASE
	},
	TAILWIND: {
		name: 'Tailwind CSS',
		class: 'bg-[#003159] text-white',
		icon: Tailwind
	}
}
const PROJECTS = [
	{
		title: 'Fithub - Sistema de gestion para gimnasios',
		description:
			'Administración de gimnasios, permitiendo gestionar miembros, membresías, rutinas y pagos de manera eficiente.  ',
		link: 'https://fithub-software-v1.vercel.app/#/',
		image: '../../src/proyects/fithub.png',
		tags: [TAGS.VUE, TAGS.JAVASCRIPT, TAGS.SUPABASE]
	},
	{
		title: 'Uni Renta - Alquileres para estudiantes',
		description:
			'Uni renta es una pagina dedicada a aquellos estudiantes que estan buscando alquiler para sus estudios.',
		link: 'https://uni-rentav1.vercel.app/#/',
		image: '../../src/proyects/unirenta.png',
		tags: [TAGS.VUE, TAGS.TAILWIND]
	}
]
---

<PageLayout meta={{ title: 'Porfolio' }}>
	<div class='max-w-xxl mb-20'>
		<div class='mb-4 flex gap-4'>
			<Image class='size-20 rounded-full shadow-lg' alt={'Tobias Sanmartin'} src={perfil} />
			<a
				href='https://www.linkedin.com/in/tob%C3%ADas-sanmart%C3%ADn-001b74254/'
				target='_blank'
				rel='noopener'
				class='flex items-center transition md:justify-center md:hover:scale-105'
			>
				<section class='flex flex-col items-center'>
					<div class='flex flex-col items-center gap-y-4'>
						<a
							class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
						>
							<span class='relative flex items-center justify-center'>
								<span
									class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
								></span>
								<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
							</span>

							<p class='font-medium'>Disponible</p>
						</a>
					</div>
				</section>
			</a>
		</div>
		<h1 class='text-4xl font-bold tracking-tight text-gray-800 dark:text-white sm:text-5xl'>
			Hola! soy Tobias
		</h1>
		<p
			class='mt-6 text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold [&>strong]:text-teal-400 dark:[&>strong]:text-teal-400'
		>
			+5 años de experiencia. <strong>Frontend Delevoper</strong> de La Costa, Argentina. <br /> Especializado
			en el desarrollo frontend de aplicaciones web.
		</p>
		<nav class='mt-8 flex flex-wrap gap-4'>
			<SocialPill href='mailto:tobiassanmartin.work@gmail.com'>
				<MailIcon class='size-5' />
				Contáctame
			</SocialPill>
			<SocialPill href='https://www.linkedin.com/in/tob%C3%ADas-sanmart%C3%ADn-001b74254/'>
				<LinkedInIcon class='size-5' />
				LinkedIn
			</SocialPill>
			<!-- Descarga curriculum -->
			<SocialPill href='../../public/cv.pdf' download='Tobias-Sanmartin-Curriculum.pdf'>
				<CurriculumIcon class='size-6' />
				Curriculum
			</SocialPill>
		</nav>
	</div>

	<div class='mb-10'>
		<Section title='Experiencia laboral' />
		<ol class='relative mt-16'>
			{
				EXPERIENCIE.map((experiencie) => (
					<li class=''>
						<ExperienceItem {...experiencie} />
					</li>
				))
			}
		</ol>
	</div>

	<div class='mb-10 mt-10 w-full'>
		<Section title='Proyectos' />
		{
			PROJECTS.map(({ image, title, description, tags, link }) => (
				<div class='my-10 flex flex-col justify-center sm:flex-row sm:gap-x-10 sm:gap-y-0'>
					<div class='flex flex-col'>
						<div class='bg-dark relative mx-auto flex max-w-xs flex-col space-y-3 rounded-xl border border-white p-3 shadow-lg md:max-w-3xl md:flex-row md:space-x-5 md:space-y-0'>
							<div class='bg-dark grid w-full place-items-center md:w-1/3'>
								<img
									src={image}
									alt=''
									class='transform rounded-md transition-transform duration-300 hover:scale-110'
								/>
							</div>
							<div class='bg-dark flex w-full flex-col space-y-2 p-3 md:w-2/3'>
								<h3 class='dark:white-300 text-dark-300 text-xl font-black md:text-3xl'>{title}</h3>
								<p class='dark:white-300 text-dark-300 md:text-md pb-3 text-base'>{description}</p>
								<ul class='flex flex-row gap-x-2'>
									{tags.map((tag) => (
										<li>
											<span class={`flex gap-x-2 rounded-full text-xs ${tag.class} px-2 py-1 `}>
												<tag.icon class='size-4' />
												{tag.name}
											</span>
										</li>
									))}
								</ul>
							</div>
						</div>
					</div>
				</div>
			))
		}
	</div>
	<div id='about' class='mb-10 w-full'>
		<Section title='Stack de tecnologias' />
		<TecnologyStack />
	</div>
	<div class='mt-10 w-full'>
		<Section title='Sobre Mi' />
		<AboutMe />
	</div>
</PageLayout>
